/* src/components/Home/Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 80vh;
    background-color: #f5f5f5;
    width: 100%;
    min-width: 100%;
}

.auth-section {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

