.navbar {
    background-color: #090909;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.icon-bar {
    background-color: #ecf0f1;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.3s;
}

/* Menú en vista de escritorio y tablet */
.navBar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

.navBar li {
    margin: 0;
}

.navBar a, .logout-button {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navBar a:hover, .logout-button:hover {
    color: #4adb34;
    transform: scale(1.1);
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

/* Menú en vista móvil */
.navBar.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090909;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}

.navBar.open li {
    margin: 10px 0;
}

.close-menu {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Media queries para hacer la barra de navegación responsiva */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .navBar {
        display: none;
    }

    .navBar.open {
        display: flex;
    }
}
